:root {
    --width: 1000px;
    --height: 650px;
}

* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: url(./images/backround-body.jpg);
}

#main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    width: var(--width);
    height: var(--height);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    // border-top: 1px solid grey;
    // border-left: 1px solid grey;
    // border-right: 1px solid grey;
    margin-bottom: 40px;
    border: 2px solid grey;
    border-radius: 5px;
}

#background {
    width: 1002px;
    height: 601px;
    object-fit: cover;
}

#display {
    // position: absolute;
    // bottom: 0;
    display: flex;
    justify-content: space-between;
    width: var(--width);
    background: papayawhip;
    padding: 10px;
}

#mute {
    position: absolute;
    left: 15%;
}

#mute {
    .line {
        position: absolute;
        left: 17px;
        top: -5px;
        transform: rotateZ(45deg);
        font-size: 40px;
        color: blueviolet;
    }
}

#mute {
    .hide-line {
        display: none;
    }
}

#score,
#info {
    width: 200px;
}

footer {

    h3 {
        text-shadow: 0 0 10px #efbb1c,0 0 4px #eae8ed,0 0 4px #f2edf7,0 0 4px #dbd2e3;
    }

    a {
        img {
            width: 80px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0px 0px 10px 5px #8b4513;
        }
        
        text-shadow: 0 0 10px #efbb1c,0 0 4px #eae8ed,0 0 4px #f2edf7,0 0 4px #dbd2e3;
        color: #000;
        text-decoration: none;
    }

    margin-top: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 5%;
    padding: 0px;
    align-items: center;
    background: #ff8c00;
    font-family: Roboto,sans-serif;
}